.home {
  width: 100%;

  & .navigation {
    padding: 15px;
    float: right;
    position: relative;
    z-index: 1024;
    & a {
      font-size: 16px;
      text-decoration: none;
      margin-right: 30px;
      color: #FFF;
      opacity: 0.7;
    }
  }

  & .header {
    height: 100%;
    .background-image(linear-gradient(left, @blue-light, @blue));
    & .tagline {
      color: white;
      width: 600px;
      opacity: 0.9;
      margin: 0px auto;
      position: relative;
      text-align: center;
      top: 45%;
      transform: translateY(-50%);
      & h1 {
        font-size: 72px;
        font-weight: 300;
        background-image: url(/images/scribble.svg);
        background-position-x: 60px;
        background-repeat: no-repeat;
      }
      & p {
        margin-top: 30px;
        font-size: 28px;
      }
    }
  }
}
