.home {
  width: 100%;
  font-size: 18px;

  & .navigation {

    color: #FFF;
    opacity: 0.7;


    background-color: rgba(0,0,0,0.1);
    width: 100%;
    padding: 15px;
    position: relative;
    z-index: 1024;
    & a {
      font-size: 16px;
      text-decoration: none;
      margin-right: 30px;
      color: #FFF;
    }

    & .logo {
      display: inline-block;
    }

    & .links {
      float: right;
    }
  }

  & .header {
    height: 110%;
    min-height: 600px;
    .background-image(linear-gradient(left, @blue-light, @blue));

    & .hook {
      /*z-index: 1024;*/
      color: white;
      width: 600px;
      opacity: 0.9;
      margin: 0px auto;
      position: relative;
      text-align: center;
      top: 45%;
      transform: translateY(-80%);
      & h1 {
        font-size: 72px;
        font-weight: 300;
        background-image: url(/images/scribble.svg);
        background-position-x: 60px;
        background-repeat: no-repeat;
      }
      & p {
        margin-top: 30px;
        font-size: 28px;
      }
    }

    & .ide {
      width: 50%;
      height: 400px;
      margin: 0px auto;
      position: relative;
      top: 100px;
    }
  }

  & .elevator {
    padding: 40px;
    color: white;
    background-color: @blue-dark;

    & .diagram {
      width: 100%;
      position: absolute;
      transform: translateY(-25%);
    }
  }
}
