.home {
  width: 100%;

  & .header {
    height: 100%;
    background-color: @blue-light;
    & .tagline {
      color: white;
      width: 600px;
      opacity: 0.9;
      margin: 0px auto;
      position: relative;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      & h1 {
        font-size: 72px;
        font-weight: light;
      }
      & p {
        margin-top: 30px;
        font-size: 28px;
      }
    }
  }
}
