.ide-preview {
  font-size: 14px;
  &-loading {
    width: 100%;
    text-align: center;
    top: 30px;
    position: relative;
  }
  & ul {
    list-style-type: none;
    padding: 0px;
    
    & li {
      border-top: 1px solid rgba(0,0,0,0.1);
      padding-top: 8px;
      padding-bottom: 8px;
      &.log {
        color: #333;
      }
      &.error {
        color: red;
      }
    }


    & li:first-child {
      border-top: 0px;
    }
  }
}
