.rx-docs {

  & .rx-navigation {
    position: fixed;
  }

  & .main {
    padding-top: 90px;
    height: 100%;
  }

  & .sidebar {
    background-color: @blue-dark;
    height: 100%;
    padding: 0px;
    overflow: scroll;

    & a {
      color: white;
    }

    & ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px;

      color: white;
      width: 100%;

      & li.category {
        font-size: 14px;
        text-transform: capitalize;
        display: block;
        margin-top: 7px;
        background-color: @blue-darker;
        padding: 8px 16px;
      }

      & li.sub-category {
        font-size: 14px;

        & a {
          padding-left: 16px;
          line-height: 25px;
          &:before {
            content: "- ";
          }
          & .selected {
            color: @blue;
          }
        }
      }

      & ul.files {
        background-color: #788BAE;
        padding-left: 25px;
      }
    }
  }

  & .docs {
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 30px;

    & code {
      background-color: @blue-almost-white;
      color: @blue-dark;
      font-size: 14px;
      font-weight: 400;
      margin-left: 3px;
    }

    & h4 {
      padding: 15px;
      margin-top: 30px;
      background-color: @blue-dark;
      color: white;
      border-left: 3px solid @blue-darker;
      & p {
        margin: 0px;
      }

      &.selected {
        border-left: 3px solid @blue;
      }
    }
    & .example {

    }
  }

}
